body {
    background: hsl(212, 45%, 89%);
}
.section1 {
    background:  hsl(0, 0%, 100%);
    width: 20%;
    /* height: 90%; */
    /* position: relative;
    left: 30%;
    margin-top: 8%; */
    margin: 5% auto;
    border-radius: 20px;
}
.main {
    padding: 10px;
    text-align: center;
    font-size:small;
    font-family: sans-serif;
    border-radius: 10px;
}
/* .attribution {
    margin: 10px;
} */
img {
    width: 95%;
    margin-top: 5px;
    border-radius: 10px;
}
p {
   color: hsl(220, 15%, 55%);
   padding: 0 17px;
   margin-bottom: 30px;
   font-size: 15px;
   font-weight: 400;
}
h2 {
    padding: 10px 15px;
    color:  hsl(218, 44%, 22%);
    font-weight: 700;
    
}
@media (min-width: 480px) and (max-width: 900px) {
    body{
        background: yellow;
    }
}
@media (max-width: 480px){
    
    .section1{
        width: 80%;
    }
    h2 {
        width: 90%;
        padding: 10 20px;
    }
} 


/* .attribute {
    background-color: rgba(94, 8, 233, 0.2);
    height: 100px;
} */